._2agf{word-wrap:normal}._2agf._4o_4{display:inline-flex}._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:top;white-space:nowrap}

@supports selector(:-moz-focusring){._19_u :not(:-moz-focusring):focus{outline:none!important}}@supports selector(:focus-visible){._19_u :not(:focus-visible):focus{outline:none!important}}
